<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
</head>
<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" href="__CSS__/common.css" type="text/css">
<body style="background: url(images/bg.jpg); background-size: 100% 100%;">
<div class="login01">
    <div class="logintxt">
        <span>家乐速运<br>叫车管理系统</span>
    </div>
    <div class="loginfm">
        <div class="loginnav">
            <ul>
                <li><label>登录名：</label><span><input type="text"></span></li>
                <li style="margin-bottom: 15px;"><label>密&nbsp;&nbsp;&nbsp;码：</label><span><input type="text"></span></li>
                <li class="clear"><a class="pull-right forget" href="#">忘记密码？</a></li>
                <input type="button" class="btn btn-info btn-block" value="登录">
            </ul>
        </div>
    </div>
</div>
</body>
</html>
